<h1>Add a new flat</h1>

  <div>
    <%= link_to 'Home', root_path, :class => "btn btn-primary" %> 
    <%= link_to 'Add Flat', new_flat_path, :class => "btn btn-primary" %> 
  </div>


<div class="container">
  <div class="row mt-4">
    <div class="spacer col-4"></div>
    <div class="new-listing col-4">
      <h2>List your flat for rent</h2>
      <%= simple_form_for @flat do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :city %>
      <%= f.input :address %>
      <%= f.input :rooms %>
      <%= f.input :number_of_guests %>
      <%= f.input :price_per_night %>
      <%= f.submit "Add Flat", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>





