<div clas="container">
  <%= link_to 'Home', root_path, :class => "btn btn-primary" %> 
  <%= link_to 'All flats', flats_path, :class => "btn btn-primary" %> 
</div>


<h1>More info on <%= @flat.name %></h1>

<div class='container-fluid'>
    <div class="card mx-auto col-md-3 col-10 mt-5">
        <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold"><%= @flat.name %></h5>
                <h6 class="card-title"><%= @flat.city %></h6>
                  <% if @flat.user == current_user %>
                    <div class="btn btn-secondary" id="own-watch">
                      <span class="no-hover">Booking Disabled</span>
                      <span class="hover">It's Your Flat!</span>
                    </div>
                  <% else %>
                    <%= link_to "Book now for £#{@flat.price_per_night}/day", new_flat_booking_path(@flat), class: 'btn btn-success' %>
                  <% end %>
            </div>
      <div class="spacer mb-3"></div>
      <%= link_to "Back to listings", flats_path, class: 'btn btn-outline-success' %>
    </div>
  </div>
</div>

