<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6 col-offset-3 new-booking">
      <div align="center">
      <div id="watch_price" class="d-none">
        <%= @flat.price_per_night %>
      </div>
      <h1>Book Your Selected Flat</h1>
     <%# Add flat image  %>
      </div>
      <%= simple_form_for([@flat, @booking]) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <div align='center'><%= f.submit 'Book Flat', class: 'btn btn-success mb-4', id: 'js-button'%></div>
      <% end %>
    </div>
  </div>
</div>